# Database
DATABASE_URL=postgresql://neondb_owner:npg_wSM0p3VjJBWC@ep-odd-firefly-agxkx0k0.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require

# NextAuth
NEXTAUTH_SECRET=d1cl-cairo-live-secret-key-2026
NEXTAUTH_URL=http://localhost:3000

# Admin credentials
ADMIN_EMAIL=mokhtar@themok.company
ADMIN_PASSWORD=admin123456

# App environment
NODE_ENV=production
